body {
    background:url(img/cookie.jpg) no-repeat top;
    margin:30px;
  }
  * {
    box-sizing: border-box;
  }
  input {
    display:block;
    width:90%;
    margin:400px 0;
    padding:10px;
   
  }
  
  .type-1 {
    border-radius:10px;
    border: 1px solid #eee;
    transition: .3s border-color;
  }
  but {
      margin: 1000px;
      padding: 1000px;
  }